.p-button.order-btn{
  background-color: oklch(92.8% 0.006 264.531);
  border: none;
  color: oklch(21% 0.034 264.665);
}



.p-button:not(:disabled).order-btn:hover{
    background-color: oklch(76.337% 0.00314 264.728);
  border: none;
  color: oklch(21% 0.034 264.665);
}